.pageGrid {
  display: grid;
  grid-template-areas:
    "header header header"
    "content content content"
    "sidebar checklist checklist"
    "sidebar checklist checklist"
    "sidebar checklist checklist";
  grid-template-rows: 1fr 2fr 3fr 3fr;
  grid-template-columns: 1fr 2fr 2fr;
  gap: var(--s0);
}

.headerArea {
  grid-area: header;
  background: linear-gradient( var(--midnightBlue), var(--slateBlue));
}

.headerArea h1 {
  padding: var(--s0);
  color: var(--white)
}

.contentArea {
  grid-area: content;
  padding: var(--s2);
}

.infoArea {
  grid-area: info;
  display: flex;
  flex-flow: column nowrap;
}

.sidebarArea {
  grid-area: sidebar;
  display: flex;
  flex-flow: column nowrap;
  padding-left: var(--s0);

}

.checklistArea {
  grid-area: checklist
}